@import "../../common/sass/mixins";
.page {
  @include wrapper();
}

.mainBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  width: 250px;
}