@import "../../../common/sass/mixins";

.page {
  @include wrapper();

  .mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white;
  }

  .input {
    width: 250px;
  }
}

